body {
  scroll-behavior: smooth;
}
.joinUsPageHero {
  background-image: url(./img/WordHaven.jpg);
  height: calc(100vh - 8rem);
  width: 100%;
}
.joinUsPageHero,
.bringTheKids {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: darken;
}
.joinUsPageHero h1,
.bringTheKids h2 {
  font-size: 4.5rem;
  color: #fff;
  font-family: "Lora", sans-serif;
  line-height: 5rem;
  font-weight: 700;
}

.joinUsPageHero p {
  font-size: 2rem;
  font-family: "Lora", sans-serif;
  line-height: 5rem;
  color: #a71d2d;
}
.joinUsPageHero .icons {
  margin: 0 0.5rem;
}
.welcomeToChurch div h2 span {
  display: inline;
}
/* Bring Your Kids Sections */
.bringTheKids {
  background-image: url(./img/WordHaven-BringYourKids.jpg);
  height: 80vh;
}
.bringTheKids div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bringTheKids p {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  line-height: 2rem;
  margin: 2rem 10vw;
  text-align: center;
}
.service_sections {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 5vw;
  position: relative;
  width: 80vw;
}
.service_sections {
  flex-direction: column;
  margin: 2rem 5vw;
}
.service_sections h2 {
  font-weight: 600;
  line-height: 5rem;
  font-family: "Raleway", sans-serif;
  color: #58181f;
  font-size: 3.5rem;
  padding: 3rem 0 1.5rem 0rem;
}
.service_divs {
  flex-direction: row;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
}
.servSec {
  display: flex;
  flex-direction: column;
  width: 33%;
  border: 1px solid #58181f;
  border-radius: 0.3rem;
  margin: 0px 1rem;
  padding: 1rem 1rem;
}
.servSec h3 {
  font-family: "Lora", sans-serif;
  font-size: 1.3rem;
  padding: 1rem 0;
}
.servSec p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0;
}
