body {
  scroll-behavior: smooth;
}
.joinUsPageHero {
  background-image: url(./img/WordHaven.jpg);
  height: calc(100vh - 8rem);
  width: 100%;
}
.joinUsPageHero,
.bringTheKids,
.service-information {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  background-blend-mode: darken;
  filter: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
.joinUsPageHero h1,
.bringTheKids h2 {
  font-size: 4.5rem;
  color: #fff;
  font-family: "Lora", sans-serif;
  line-height: 5rem;
  font-weight: 700;
}

.joinUsPageHero p {
  font-size: 2rem;
  font-family: "Lora", sans-serif;
  line-height: 5rem;
  color: #a71d2d;
  text-shadow: 2px 3px 5px #000;
}
.joinUsPageHero .icons {
  margin: 0 0.5rem;
}
.welcomeToChurch div h2 span {
  display: inline;
}
/* Bring Your Kids Sections */
.bringTheKids {
  background-image: url(./img/WordHaven-BringYourKids.jpg);
  height: 80vh;
}
.bringTheKids div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bringTheKids p {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  line-height: 2rem;
  margin: 2rem 10vw;
  text-align: center;
}
/* The Service Information Sections */
.serviceTime,
.serviceTime-div1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceTime {
  height: 90vh;
  flex-direction: column;
}
.serviceTime-div1 {
  flex-direction: row;
}
.serviceTime-div1 div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem 1rem;
}
.serviceTime h2 {
  padding: 2rem 0;
}
.serviceTime-div1 div a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #1e1e1e;
  font-size: x-large;
  padding: 0.2rem 0;
}
.serviceTime-div1 div p {
  font-family: "Lora", sans-serif;
  font-size: large;
  line-height: 1.5rem;
}
.serviceTime .serviceTime-div1 div img {
  width: 20.5rem;
  height: 18rem;
}
@media screen and (max-width: 699px) {
  .joinUsPageHero,
  .bringTheKids,
  .service-information {
    background-attachment: scroll;
  }
  .joinUsPageHero h1,
  .bringTheKids h2 {
    font-size: 2.2rem;
    line-height: 2rem;
  }
  .joinUsPageHero p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
  }
  .welcomeToChurch,
  .serviceTime,
  .churchOnline {
    padding: 3rem 0;
  }
  .serviceTime-div1 {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .serviceTime {
    height: auto;
    flex-direction: column;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .joinUsPageHero h1,
  .bringTheKids h2 {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  .joinUsPageHero p {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 2rem 0;
    margin: 0 2rem;
    text-align: center;
  }
  .welcomeToChurch div p,
  .churchOnline div p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .welcomeToChurch {
    padding: 2rem 0;
    margin: 0 0 2rem 0;
  }
  .serviceTime {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .serviceTime-div1 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 720px) and (max-width: 800px) {
  .serviceTime .serviceTime-div1 div img {
    width: 22rem;
    height: 19rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 850px) {
  .serviceTime .serviceTime-div1 div img {
    width: 23rem;
    height: 19rem;
  }
}
@media screen and (min-width: 851px) and (max-width: 1000px) {
  .serviceTime .serviceTime-div1 div img {
    width: 26rem;
    height: 20rem;
  }
}
