body {
  scroll-behavior: smooth;
}
.joinUsPageHero {
  background-image: url(./img/WordHaven.jpg);
  height: calc(100vh - 8rem);
  width: 100%;
}
.joinUsPageHero,
.bringTheKids,
.service-information {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  background-blend-mode: darken;
}
.joinUsPageHero h1,
.bringTheKids h2 {
  font-size: 4.5rem;
  color: #fff;
  font-family: "Lora", sans-serif;
  line-height: 5rem;
  font-weight: 700;
}

.joinUsPageHero p {
  font-size: 2rem;
  font-family: "Lora", sans-serif;
  line-height: 5rem;
  color: #a71d2d;
  text-shadow: 2px 3px 5px #000;
}
.joinUsPageHero .icons {
  margin: 0 0.5rem;
}
.welcomeToChurch div h2 span {
  display: inline;
}
/* Bring Your Kids Sections */
.bringTheKids {
  background-image: url(./img/WordHaven-BringYourKids.jpg);
  height: 80vh;
}
.bringTheKids div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bringTheKids p {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  line-height: 2rem;
  margin: 2rem 10vw;
  text-align: center;
}
/* The Service Information Sections */
.service-information {
  height: 90vh;
  background-image: url(./img/WordHavenPic0.JPG);
}
.service {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.service-div {
  margin: 1rem;
  background-color: #ffffff;
  width: 25vw;
  padding: 1rem;
  box-shadow: -5px -8px 4px rgb(5, 5, 5);
}

.service-info1 {
  height: 45vh;
}
.service-info2 {
  height: 40vh;
}
